<a href="https://colab.research.google.com/github/anushirahatti/unemployment-data/blob/master/src/unemployment_data_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Extraction

In [0]:
import pandas as pd

Unemployment data of Adults basis Education Qualification.

In [2]:
ue_primary_school = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_primary_school.csv', header=0)
ue_high_school = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_high_school.csv', header=0)
ue_associates = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_associates_degree.csv', header=0)
ue_professional = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_professional_degree.csv', header=0)

ParserError: ignored

Unemployment data of Adults basis Race.

In [0]:
ue_white = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_white.csv', header=0)
ue_black = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_black.csv', header=0)
ue_asian = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_asian.csv', header=0)
ue_hispanic = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_hispanic.csv', header=0)

Unemployment data of Adults basis Gender.

In [0]:
ue_men = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_men.csv', header=0)
ue_women = pd.read_csv('https://github.com/anushirahatti/unemployment-data/blob/master/raw_data/UErate_women.csv', header=0)

# Data Transformation

Transforming extracted data in the format useful for performing Data Analysis.

In [0]:
ue_primary_school = ue_primary_school.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="Primary_School")

ue_primary_school['Date'] = ue_primary_school['Month'].map(str) + '-' + ue_primary_school['Year'].map(str)
ue_primary_school

In [0]:
ue_high_school = ue_high_school.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="High_School")

ue_high_school['Date'] = ue_high_school['Month'].map(str) + '-' + ue_high_school['Year'].map(str)
ue_high_school

In [0]:
ue_associates = ue_associates.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="Associates_Degree")

ue_associates['Date'] = ue_associates['Month'].map(str) + '-' + ue_associates['Year'].map(str)
ue_associates

In [0]:
ue_professional = ue_professional.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="Professional_Degree")

ue_professional['Date'] = ue_professional['Month'].map(str) + '-' + ue_professional['Year'].map(str)
ue_professional

In [0]:
ue_white = ue_white.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="White")

ue_white['Date'] = ue_white['Month'].map(str) + '-' + ue_white['Year'].map(str)
ue_white

In [0]:
ue_black = ue_black.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="Black")

ue_black['Date'] = ue_black['Month'].map(str) + '-' + ue_black['Year'].map(str)
ue_black

In [0]:
ue_asian = ue_asian.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="Asian")

ue_asian['Date'] = ue_asian['Month'].map(str) + '-' + ue_asian['Year'].map(str)
ue_asian

In [0]:
ue_hispanic = ue_hispanic.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="Hispanic")

ue_hispanic['Date'] = ue_hispanic['Month'].map(str) + '-' + ue_hispanic['Year'].map(str)
ue_hispanic

In [0]:
ue_men = ue_men.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="Men")

ue_men['Date'] = ue_men['Month'].map(str) + '-' + ue_men['Year'].map(str)
ue_men

In [0]:
ue_women = ue_women.melt(id_vars=["Year"], 
        var_name="Month", 
        value_name="Women")

ue_women['Date'] = ue_women['Month'].map(str) + '-' + ue_women['Year'].map(str)
ue_women

Merging the dataframes based on columns 'Year', 'Month', and 'Date'.

In [0]:
data1 = pd.merge(ue_primary_school, ue_high_school, on=['Date', 'Month', 'Year'])

In [0]:
data2 = pd.merge(ue_associates, ue_professional, on=['Date', 'Month', 'Year'])

In [0]:
data3 = pd.merge(ue_white, ue_black, on=['Date', 'Month', 'Year'])

In [0]:
data4 = pd.merge(ue_asian, ue_hispanic, on=['Date', 'Month', 'Year'])

In [0]:
data5 = pd.merge(ue_men, ue_women, on=['Date', 'Month', 'Year'])

In [0]:
data6 = pd.merge(data1, data2, on=['Date', 'Month', 'Year'])

In [0]:
data7 = pd.merge(data6, data3, on=['Date', 'Month', 'Year'])

In [0]:
data8 = pd.merge(data7, data4, on=['Date', 'Month', 'Year'])

In [0]:
unemployment_data = pd.merge(data8, data5, on=['Date', 'Month', 'Year'])

# Dataset for Data Analysis

In [0]:
unemployment_data.head(10)

In [0]:
unemployment_data.tail(10)

In [0]:
unemployment_data.info()